.sidebar {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  width: 280px;
  padding: 13px 0;
  position: fixed;
  overflow-y: scroll;
  top: 100px;
  bottom: 0;
}

.submenus {
  margin: 0;
  padding: 0;
}

.submenu-heading {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  color: #545f7d;
}

.submenu-items {
  padding: 0 0 20px 0;
}

.sidebar-option .submenu-items-items {
  padding: 26px 0 26px 30px;
  display: flex;
}

.dropdown-arrow {
  margin-left: 10px;
}

.submenu-items-items {
  padding: 10px 0 10px 30px;
  display: flex;
}

.active.submenu-items-items {
  background: #39cdcc14;
  padding: 0;
  display: flex;
  align-items: center;
}

.active-bar {
  height: 40px;
  width: 3px;
  background: #39cdcc;
  margin-right: 27px;
}

.icon-container {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.link-text {
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.logout-option {
  border-top: 1px solid #213f7d;
}
